@import "./global/sass/index.scss";

.app {
  background-color: $backgroundColor;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  color: white;
}
.body {
  padding-top: 5em !important;
}

// Semantic UI has this set to 5em
.ui.container {
  margin-top: 0 !important;
}